/* START OF CSS FILE 
   ADDS STYLE TO THE HEADER & NAVBAR */

/* ENTIRE PAGE */
* {
  box-sizing: border-box;
  border: 0 none;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
  outline-color: currentcolor;
  outline-style: none;
  outline-width: 0px;
}

/* HTML */
html {
  margin: 0;
  padding: 0;
}

/* BODY */
@media screen and (min-width:768px) {
  body {
    font-size: 15px;
    line-height: 20px;
 }
}

body {
  background-color: #f4f5f6;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial,Helvetica,sans-serif;
  overflow-x: hidden;
  min-width: 320px;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: -1px;
  left: 0;
  right: 0;
  height: 1px;
}

/* HEADER */
.page-header {
  z-index: 10;
}

header {
  display: block;
  position: relative;
}

.page-header .container {
  position: relative;
}

.container {
 max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
}

.container::before {
  content: " ";
  display: table;
}

/* HEADER TOP */
@media screen and (min-width: 992px) {
  .page-header .header-top {
    background-color: #f72210;
  }

  .header-top {
    height: 95px;
    padding: 20px 10px 15px;
  }
}

.header-top {
  position: relative;
  z-index: 2;
}

.jc-sb {
  justify-content: space-between;
}

.ai-fe {
  align-items: flex-end;
}

.flex-xs {
  display: flex;
}

div {
  margin: 0;
  padding: 0;
}

.flex-xs-6 {
  width: 50%;
}

/* HEADER TOP 'TIME' TAG */
@media screen and (min-width: 1200px) {
  .page-header time {
    margin-left: 20px;
  }
}

@media screen and (min-width: 992px) {
  .page-header time {
    display: block;
  }
}

.page-header time {
  font: 16px/34px "Roboto Condensed",sans-serif;
  color: white;
}

/* HEADER TOP 'SIGN IN' LINK */
.jc-fe {
  justify-content: flex-end;
}

.ai-c {
  align-items: center;
}

.page-header .lk-2 {
  color: white;
}

@media screen and (min-width: 481px) {
  .lk-2 {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
  }
}

.lk-2 {
  position: relative;
  font: bold 14px/14px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 3px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* HEADER TOP 'SUBSCRIBE' LINK */
.page-header .lk-3 {
  background-color: white;
  color: #f72210;
}

@media screen and (min-width: 992px) {
  .lk-3 {
    padding-left: 12px;
  }
}

@media screen and (min-width: 481px) {
  .lk-3 {
    font-size: 18px;
    padding-right: 10px;
  }
}

.lk-3 {
  position: relative;
  font: bold 14px/14px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 3px;
}

/* HEADER MIDDLE 'NEWSWEEK.com LINK' */
@media screen and (min-width: 992px) {
  .page-header .header-middle {
    background-color: #f72210;
  }

  .header-middle {
    transform: translate(-50%,0);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.page-header .header-middle {
  background-color: #f72210;
}

.header-middle {
  padding: 15px;
}

@media screen and (min-width: 992px) {
  .page-header .brand svg {
    fill: white;
    width: 396px;
    height: 60px;
    margin: 10px auto 0;
  }
}

.page-header .brand svg {
  fill: white;
  display: block;
}

/* HEADER MIDDLE 'HAMBURGER MENU' */
@media screen and (min-width: 992px) {
  .genericon-menu {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .genericon-menu {
    width: 74px;
  }
}

.genericon-menu {
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.genericon {
  font-size: 26px;
  text-align: center;
  font-family: "Genericons";
}

@media screen and (min-width: 481px) {
  .genericon-menu span {
    width: 30px;
  }
}

.genericon-menu span {
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
  height: 4px;
  background-color: #fb9a94;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER BOTTOM 'NAVBAR' */
@media screen and (min-width: 992px) {
  .page-header .header-bottom {
    padding-right: 160px;
  }
}

.page-header .header-bottom {
  background-color: white;
  border-bottom-color: #f4f5f6;
}
