body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

.nav-top {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: red;
}

.nav-top-ul {
  display: flex;
  height: 100px;
  list-style: none;
}

.nav-top-ul a:hover {
  text-decoration: none;
}

.nav-top-ul-item {
  padding-top: 50px;
}

#date {
  color: white;
  padding-top: 50px;
}

#newsweek {
  color: white;
  padding-left: 370px;
  padding-right: 440px;
}

#signin {
  color: white;
  padding-right: 40px;
}

#subscribe {
  color: red;
  background-color: white;
}

.nav-bottom {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid gray;
}

.nav-bottom-ul {
  display: flex;
  height: 50px;
  list-style: none;
}

.nav-bottom-ul a:hover {
  color: red;
  text-decoration: none;
}

.nav-bottom-ul-item {
  padding-top: 15px;
  padding-right: 40px;
  border-left: 1px solid gray;
}

.nav-bottom-link {
  color: black;
}

.featured-stories {
  margin-left: 20px;
  border-bottom: 1px solid gray;
}

.featured-stories h3 {
  color: black;
}

.featured-stories a:hover {
  color: red;
}

.featured-stories-link {
  color: red;
}

.category h6 {
  width: 60px;
  padding-left: 6px;
  padding-right: 5px;
  color: red;
  background-color: lightgray;
}

.category a:hover {
  text-decoration: none;
}
