/* START OF CSS FILE
   ADDS STYLE TO THE HEADER & NAVBAR */

/* IMPORT GOOGLE FONT */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

/* IMPORT GENERICONS FONT */
@font-face {
  font-family: "Genericons";
  src: url("./Genericons.eot?") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

/* UNIVERSAL SELECTOR  */
* {
  box-sizing: border-box;
}

/* BODY */
body {
  background-color: #f4f5f6;
  font-family: 'Roboto Condensed', sans-serif;
}

/* HEADER TOP */
.max-12k {
  max-width: 1350px;
}

header > div {
  background-color: red;
}

.n-logo {
  display: block;
  cursor: pointer;
  min-width: 40px;
  height: 35px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

header .logo svg {
  fill: white;
  width: 400px;
}

.join-in * {
  font-size: 18px;
}

.text-red {
  color: red;
}

#header_subscribe_link:hover {
  color: red;
  background-color: white;
}

/* NAVBAR */
.nav_links {
  color: black;
}

.nav_links:hover {
  text-decoration: none;
  color: red;
}

.nav-bar {
  position: relative;
  font-size: 20px;
  background-color: white;
}

.nav-bar .nice-border {
  position: absolute;
  width: 66px;
  top: 0;
  display: block;
  right: 0;
  border-top: 13px solid red;
  border-bottom: 12px solid white;
}

header nav form {
  position: relative;
}

header nav #search-input-label {
  position: absolute;
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  top: 6px;
  right: 80px;
}

header nav #search-input {
  width: 100px;
  margin-right: 66px;
}

.burger-icon .fas {
  position: relative;
  top: 4px;
  font-size: 25px;
  cursor: pointer;
}

/* MEDIA QUERIES / BREAKPOINTS */
@media (max-width: 991px) {
  header .logo svg {
    width: 140px;
  }
}

@media (max-width: 425px) {
  header .logo svg {
    display: none;
  }
}
